# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
media/
staticfiles/
static_root/
local_settings.py

# VSCode / Mac / Etc
.vscode/
.DS_Store
.env
.env/
*.swp
