<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Plistory - Playlist</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    crossorigin="anonymous" />
</head>


<body class="min-h-screen w-full bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 p-4 text-white font-sans"
  style="font-family: 'Noto Sans KR', sans-serif;">
  <div class="text-center mt-10 mb-10">
    <i class="fas fa-music" style="color: white; font-size: 4em;"></i>
    <p class="mt-5 text-gray-100">첫 번째 플레이리스트를 만들어보세요!</p>
  </div>

  <div class="max-w-3xl mx-auto bg-white/10 backdrop-blur-l rounded-xl p-6 shadow-2xl border border-white">

    <!-- Editable Playlist Title + Save Button -->
    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center space-x-2">
        <i class="fas fa-pencil-alt text-white"></i>
        <input id="playlistName" name="playlistName" type="text" value="My First Playlist" placeholder="제목 입력"
          class="bg-transparent border-white text-white font-semibold text-lg focus:outline-none focus:border-white" />
      </div>

    </div>
    <!-- Search Box -->
    <div class="relative w-full max-w-full mb-6" id="searchableSelect">
      <button
        class="w-full p-3 text-left text-white bg-white/10 border-2 border-gray-200 rounded-lg focus:ring-white flex items-center justify-between"
        id="selectButton">
        <span id="selectedText">Search Music</span>
        <svg class="w-4 h-4 text-white transition-transform duration-200" fill="none" id="selectArrow"
          stroke="currentColor" viewBox="0 0 24 24">
          <path d="M19 9l-7 7-7-7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
        </svg>
      </button>
      <div class="absolute hidden w-full mt-1 bg-[#2d2d2d]/90 border border-gray-300 rounded-lg shadow-lg z-10"
        id="dropdownMenu">
        <div class="p-2">
          <input id="searchInput" type="text" placeholder="곡명 또는 아티스트"
            class="w-full p-2 text-sm text-white placeholder-white bg-[#2d2d2d]/70 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-white" />
        </div>
        <ul class="max-h-60 overflow-y-auto py-1" id="optionsList"></ul>
      </div>
    </div>

    <!-- Playlist -->
    <ul id="playlistBox" class="space-y-1 border border-white rounded-lg p-2"></ul>
  </div>

  <!-- 해시태그 -->
  <div class="text-lg text-center mt-10">
    <h2>이 플레이리스트를 표현한다면?</h2>
  </div>
  <form id="tasteForm" class="mt-5" method="POST" action="/users/playlist/">
    {% csrf_token %}
    <div class="flex flex-wrap gap-2 justify-center">
        <input type="checkbox" name="hashtags" value="K-POP" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-500 to-purple-500">
            #K-POP
        </span>
        <input type="checkbox" name="hashtags" value="랩/힙합" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-green-400 to-blue-500">
            #랩/힙합
        </span>
        <input type="checkbox" name="hashtags" value="댄스" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-fuchsia-500 via-violet-500 to-cyan-500">
            #댄스
        </span>
        <input type="checkbox" name="hashtags" value="인디" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-violet-300 via-purple-400 to-pink-400">
            #인디
        </span>
        <input type="checkbox" name="hashtags" value="해외팝" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-yellow-400 to-red-500">
            #해외팝
        </span>


        <input type="checkbox" name="hashtags" value="락" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-indigo-400 via-purple-400 to-pink-500">
            #락
        </span>
        <input type="checkbox" name="hashtags" value="R&B" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-blue-300 via-cyan-400 to-teal-500">
            #R&B
        </span>
        <input type="checkbox" name="hashtags" value="재즈" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-rose-400 via-pink-400 to-amber-400">
            #어쿠스틱
        </span>
        <input type="checkbox" name="hashtags" value="몽환적인" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-violet-300 via-purple-400 to-pink-400">
            #재즈
        </span>
        <input type="checkbox" name="hashtags" value="밴드" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-zinc-400 via-gray-500 to-slate-600">
            #밴드
        </span>


        <input type="checkbox" name="hashtags" value="EDM" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-400 to-green-300">
            #EDM
        </span>
        <input type="checkbox" name="hashtags" value="발라드" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-fuchsia-500 via-violet-500 to-cyan-500">
            #발라드
        </span>
        <input type="checkbox" name="hashtags" value="시티팝" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-400 via-rose-500 to-red-500">
            #시티팝
        </span>
        <input type="checkbox" name="hashtags" value="잔잔한" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-cyan-400 via-sky-400 to-blue-500">
            #잔잔한
        </span>
        <input type="checkbox" name="hashtags" value="몽환적인" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-lime-400 via-green-400 to-emerald-400">
            #몽환적인
        </span>


        <input type="checkbox" name="hashtags" value="강렬한" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-slate-600 via-gray-500 to-zinc-400">
            #강렬한
        </span>
        <input type="checkbox" name="hashtags" value="신나는" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-400 via-rose-500 to-red-500">
            #신나는
        </span>
        <input type="checkbox" name="hashtags" value="리드미컬" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-yellow-400 via-amber-500 to-orange-500">
            #리드미컬
        </span>
        <input type="checkbox" name="hashtags" value="로맨틱" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-blue-500 via-purple-500 to-pink-500">
            #청량한
        </span>
        <input type="checkbox" name="hashtags" value="로맨틱" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-400 via-rose-500 to-red-500">
            #로맨틱
        </span>


        <input type="checkbox" name="hashtags" value="따뜻한" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-lime-400 via-emerald-400 to-green-500">
            #따뜻한
        </span>
        <input type="checkbox" name="hashtags" value="사랑" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-indigo-400 via-purple-400 to-pink-500">
            #사랑
        </span>
        <input type="checkbox" name="hashtags" value="이별" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-green-400 to-blue-500">
            #이별
        </span>
        <input type="checkbox" name="hashtags" value="공부" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-500 to-purple-500">
            #공부
        </span>
        <input type="checkbox" name="hashtags" value="운동" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-cyan-400 via-sky-400 to-blue-500">
            #운동
        </span>


        <input type="checkbox" name="hashtags" value="러닝" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-yellow-400 to-red-500">
            #러닝
        </span>
        <input type="checkbox" name="hashtags" value="여행" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-green-400 to-blue-500">
            #여행
        </span>
        <input type="checkbox" name="hashtags" value="힐링" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-400 to-green-300">
            #힐링
        </span>
        <input type="checkbox" name="hashtags" value="노동요" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-blue-300 via-cyan-400 to-teal-500">
            #노동요
        </span>
        <input type="checkbox" name="hashtags" value="카페감성" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-rose-400 via-pink-400 to-amber-400">
            #카페감성
        </span>


        <input type="checkbox" name="hashtags" value="비오는날" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-violet-300 via-purple-400 to-pink-400">
            #비오는날
        </span>
        <input type="checkbox" name="hashtags" value="잠들기전" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-zinc-400 via-gray-500 to-slate-600">
            #잠들기전
        </span>
        <input type="checkbox" name="hashtags" value="출근길" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-lime-400 via-emerald-400 to-green-500">
            #출근길
        </span>
        <input type="checkbox" name="hashtags" value="드라이브" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-fuchsia-500 via-violet-500 to-cyan-500">
            #드라이브
        </span>
        <input type="checkbox" name="hashtags" value="새벽감성" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-400 via-rose-500 to-red-500">
            #새벽감성
        </span>


        <input type="checkbox" name="hashtags" value="추억여행" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-cyan-400 via-sky-400 to-blue-500">
            #추억여행
        </span>
        <input type="checkbox" name="hashtags" value="수능금지곡" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-lime-400 via-green-400 to-emerald-400">
            #수능금지곡
        </span>
        <input type="checkbox" name="hashtags" value="숨듣명" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-rose-400 via-pink-400 to-amber-400">
            #숨듣명
        </span>
        <input type="checkbox" name="hashtags" value="봄" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-fuchsia-500 via-violet-500 to-cyan-500">
            #봄
        </span>
        <input type="checkbox" name="hashtags" value="여름" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-500 to-purple-500">
            #여름
        </span>


        <input type="checkbox" name="hashtags" value="가을" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-blue-300 via-cyan-400 to-teal-500">
            #가을
        </span>
        <input type="checkbox" name="hashtags" value="겨울" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-yellow-400 to-red-500">
            #겨울
        </span>
        <input type="checkbox" name="hashtags" value="크리스마스" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-zinc-400 via-gray-500 to-slate-600">
            #크리스마스
        </span>
        <input type="checkbox" name="hashtags" value="영화" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-400 via-rose-500 to-red-500">
            #영화
        </span>
        <input type="checkbox" name="hashtags" value="드라마" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-pink-400 via-gold-300 to-green-300">
            #드라마
        </span>


        <input type="checkbox" name="hashtags" value="애니메이션" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-yellow-400 to-red-500">
            #애니메이션
        </span>
        <input type="checkbox" name="hashtags" value="OST" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-blue-300 via-cyan-400 to-teal-500">
            #OST
        </span>
        <input type="checkbox" name="hashtags" value="2000년대" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-zinc-400 via-gray-500 to-slate-600">
            #2000년대
        </span>
        <input type="checkbox" name="hashtags" value="2010년대" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-lime-400 via-emerald-400 to-green-500">
            #2010년대
        </span>
        <input type="checkbox" name="hashtags" value="여행" hidden>
        <span class="tag px-4 py-1 rounded-full text-white font-medium cursor-pointer bg-white bg-opacity-30"
            data-gradient="from-fuchsia-500 via-violet-500 to-cyan-500">
            #2020년대
        </span>
    </div>
    <div class="text-center mt-3 mb-20"><button type="submit"
        class="mt-10 font-semibold text-white text-xl">저장하기</button></div>
  </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const selectButton = document.getElementById('selectButton');
      const dropdownMenu = document.getElementById('dropdownMenu');
      const searchInput = document.getElementById('searchInput');
      const optionsList = document.getElementById('optionsList');
      const selectedText = document.getElementById('selectedText');
      const selectArrow = document.getElementById('selectArrow');
      const playlistBox = document.getElementById('playlistBox');

      const options = [
        { id: 1, title: '노래 제목 A', artist: '아티스트 A' },
        { id: 2, title: '노래 제목 B', artist: '아티스트 B' },
        { id: 3, title: '노래 제목 C', artist: '아티스트 C' }
      ];

      selectButton.addEventListener('click', () => {
        const isHidden = dropdownMenu.classList.contains('hidden');
        dropdownMenu.classList.toggle('hidden');
        selectArrow.style.transform = isHidden ? 'rotate(180deg)' : 'rotate(0deg)';
        if (!isHidden) searchInput.value = '';
        renderOptions(options);
      });

      document.addEventListener('click', (e) => {
        if (!e.target.closest('#searchableSelect')) {
          dropdownMenu.classList.add('hidden');
          selectArrow.style.transform = 'rotate(0deg)';
        }
      });

      searchInput.addEventListener('input', (e) => {
        const searchTerm = e.target.value.toLowerCase();
        const filtered = options.filter(o => o.title.toLowerCase().includes(searchTerm) || o.artist.toLowerCase().includes(searchTerm));
        renderOptions(filtered);
      });

      function renderOptions(filteredOptions) {
        optionsList.innerHTML = '';
        filteredOptions.forEach(opt => {
          const li = document.createElement('li');
          li.className = 'px-4 py-2 hover:bg-white/10 cursor-pointer';
          li.innerHTML = `
            <div class="flex items-center space-x-2.5">
              <img src="https://cdn.startupful.io/img/app_logo/no_img.png" alt="앨범 아트" class="h-10 w-10 rounded-lg object-cover">
              <div>
                <p class="text-sm font-medium text-white">${opt.title}</p>
                <p class="text-xs text-gray-300">${opt.artist}</p>
              </div>
            </div>
          `;
          li.addEventListener('click', () => {
            selectedText.textContent = opt.title;
            dropdownMenu.classList.add('hidden');
            selectArrow.style.transform = 'rotate(0deg)';
            addToPlaylist(opt);
          });
          optionsList.appendChild(li);
        });
      }

      function addToPlaylist(opt) {
        if (typeof playlist === 'undefined') window.playlist = [];
        if (playlist.length >= 10) {
          alert('최대 10곡까지 추가할 수 있습니다.');
          return;
        }
        if (playlist.find(item => item.title === opt.title && item.artist === opt.artist)) {
          alert('이미 추가된 곡입니다.');
          return;
        }
        playlist.push(opt);

        const li = document.createElement('li');
        li.className = 'bg-gray-200/25 p-2 rounded-lg flex items-center space-x-2';
        li.innerHTML = `
    <img src="https://cdn.startupful.io/img/app_logo/no_img.png" class="h-10 w-10 rounded-lg object-cover" alt="앨범 아트">
    <div>
      <h3 class="text-sm font-semibold">${opt.title}</h3>
      <p class="text-xs text-gray-200">${opt.artist}</p>
    </div>
  `;
        playlistBox.appendChild(li);

        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'song_ids';
        input.value = opt.id;
        form.appendChild(input);

      }

      renderOptions(options);
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const tags = document.querySelectorAll(".tag");
      const checkboxes = document.querySelectorAll('input[type="checkbox"][name="hashtags"]');
      const form = document.getElementById("tasteForm");

      tags.forEach((tag, index) => {
        const checkbox = checkboxes[index];
        const gradient = tag.dataset.gradient.split(" ");
        tag.addEventListener("click", () => {
          const isActive = tag.classList.contains("bg-gradient-to-r");
          tag.classList.remove("bg-white", "bg-opacity-30", "bg-gradient-to-r", ...gradient);
          if (!isActive) {
            tag.classList.add("bg-gradient-to-r", ...gradient);
          } else {
            tag.classList.add("bg-white", "bg-opacity-30");
          }
          checkbox.checked = !isActive;
        });
      });

      form.addEventListener("submit", function (e) {
        const selectedCount = Array.from(checkboxes).filter(cb => cb.checked).length;
        if (selectedCount < 3) {
          e.preventDefault();
          alert("최소 3개의 해시태그를 선택해주세요.");
        }
      });
    });
  </script>

  <footer class="fixed bottom-0 left-0 w-full bg-black bg-opacity-30 text-white px-6 py-3">
    <div class="flex justify-between items-center">
      <a href="/users/taste" class="text-sm">&lt 이전</a>
      <p class="text-sm text-gray-200 text-center flex-1">PL 생성 2/3</p>
      <a class="text-sm text-white/0">다음 &gt</a>
    </div>
</body>

</html>